<style>
  .card-container {
    display: flex;
    align-items: stretch;
  }

  .card {
    flex: 1;
  }

  .card-img-top {
    object-fit: cover;
    height: 200px; /* Adjust the height as needed */
  }
</style>

<div class="card-container">
  <div class="card ml-4" style="width: 18rem;">
    <div class="card-header">{{ trip.name }}</div>
    <img src="assets/images/{{ trip.image }}" alt="trip thumbnail" class="card-img-top">
    <div class="card-body">
      <h6 class="card-subtitle mb-2 text-muted">{{ trip.resort }}</h6>
      <p class="card-subtitle mt-3 mb-3 text-muted">
        {{ trip.length }} only
        {{ trip.perPerson.replace(',', '').replace('$', '') | currency: 'USD':'symbol' }}
        <!-- ADDING IN LOGIC TO ACT AS INPUT VALIDATIONS TO POTENTIAL COMMAS AND DOLLAR SIGNS -->
        per person
      </p>
      <p class="card-text" [innerHTML]="trip.description"></p>
    </div>
    <div class="card-footer d-flex justify-content-center">
      <button (click)="editTrip(trip)" class="btn btn-info">Edit</button>
    </div>
  </div>
</div>
